

<nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#!/desktop">Casa Aleandri</a></li>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


