<!DOCTYPE html>
<html ng-app="Natale2016IoT">
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

  <div  class="container" ng-view></div>
</body>
</html>
