<div>
    <div>
        <span>
            Invia messaggio di testo :
        </span>
        <span>
            <input type="text" ng-model="textMessage" maxlength="32" />
        </span>
    </div>
    <div>
        <button type="button" ng-click="sendText(textMessage)" class="btn btn-info btn-block"> Invia messaggio</button>
    </div>

    <div>
            <img src="app/pages/howButton/images/happy.png" ng-click="sendSmile('happy')" width="90"/>
    </div>
            <img src="app/pages/howButton/images/angry.png" ng-click="sendSmile('angry')" width="90"/>
    </div>
    <div>
            <img src="app/pages/howButton/images/cute.png" ng-click="sendSmile('cute')" width="90" />
    </div>
</div>