<div>

    <div class="bottoni-citofono primo">
        <button type="button" ng-click="callFirstButton()" class="btn btn-info btn-block"> Primo Bottone</button>
    </div>
    <div class="bottoni-citofono secondo">
        <button type="button" ng-click="callSecondButton()" class="btn btn-info btn-block">Secondo Bottone</button>
    </div>
    <div class="bottoni-citofono terzo">
        <button type="button" ng-click="callThirdButton()" class="btn btn-info btn-block">Terzo Bottone</button>
    </div>
</div>